declare -xp

neovim_path="{{{neovim}}}/bin/nvim"
neovim_wrapper_path="${out}/bin/nvim"

{{#withPython}}
makeWrapper {{{pythonInterpreter}}} $out/bin/nvim-python --unset PYTHONPATH
{{/withPython}}

{{#viAlias}}
ln -s "${neovim_wrapper_path}" "${out}/bin/vi"
{{/viAlias}}

{{#vimAlias}}
ln -s "${neovim_wrapper_path}" "${out}/bin/vim"
{{/vimAlias}}

wrapper_args=("${neovim_path}" "${neovim_wrapper_path}")
{{#luaPath}}
wrapper_args+=('--prefix' 'LUA_PATH' ';' '{{{luaPath}}}')
{{/luaPath}}
{{#luaCPath}}
wrapper_args+=('--prefix' 'LUA_CPATH' ';' '{{{luaCPath}}}')
{{/luaCPath}}

rm "${neovim_wrapper_path}"
makeWrapper "${wrapper_args[@]}"
