declare -xp

neovim_path="{{{neovim}}}/bin/nvim"
neovim_wrapper_path="${out}/bin/nvim"

{{#viAlias}}
ln -s "${neovim_wrapper_path}" "${out}/bin/vi"
{{/viAlias}}

{{#vimAlias}}
ln -s "${neovim_wrapper_path}" "${out}/bin/vim"
{{/vimAlias}}

wrapper_args=("${neovim_path}" "${neovim_wrapper_path}" '--inherit-argv0')
{{#remoteProvidersCommand}}
wrapper_args+=('--add-flags' '--cmd "{{{remoteProvidersCommand}}}"')
{{/remoteProvidersCommand}}
{{#pluginsDir}}
wrapper_args+=('--add-flags' '--cmd "set packpath^={{{pluginsDir}}}"');
wrapper_args+=('--add-flags' '--cmd "set runtimepath^={{{pluginsDir}}}"');
{{/pluginsDir}}
{{#initLua}}
wrapper_args+=('--add-flags' '-u "{{{initLua}}}"');
{{/initLua}}
{{#luaPath}}
wrapper_args+=('--prefix' 'LUA_PATH' ';' '{{{luaPath}}}')
{{/luaPath}}
{{#luaCPath}}
wrapper_args+=('--prefix' 'LUA_CPATH' ';' '{{{luaCPath}}}')
{{/luaCPath}}

rm "${neovim_wrapper_path}"
makeWrapper "${wrapper_args[@]}"
